<div class="section">
  <div class="container">
    <h1 class="title">Регистрация</h1>
    <% if (error) {%>
      <div class="notification is-warning"><%= error %></div>
    <% } %>
    <form action="/register" method="POST">
      <div class="field">
        <label class="label">Логин</label>
        <div class="control">
          <input class="input" type="text" name="login" placeholder="Придумайте логин" required>
        </div>
      </div>

      <div class="field">
        <label class="label">почта</label>
        <div class="control">
          <input class="input" type="email" name="email" placeholder="Введите email" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Пароль</label>
        <div class="control">
          <input class="input" type="password" name="password" placeholder="Введите пароль" required>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-link" type="submit">Зарегистрироваться</button>
        </div>
      </div>
    </form>
  </div>
</div>
