<div class="box">
  <% if (page_user) { %>
    <p><strong>Логин:</strong> <%= page_user.login %></p>
  <% } else { %>
    <p><strong>пользователь отсутвует</strong></p>
  <% } %>
</div>
<% if (self_user && page_user && self_user.login == page_user.login) { %>
  <button class="button is-danger" onclick="deleteAccount(<%= page_user.login %>)">
    Удалить аккаунт
  </button>
  <script>
    async function deleteAccount(userLogin) {
      if (!confirm("Вы уверены, что хотите удалить аккаунт?")) return;

      try {
        const response = await fetch(`/user/delete/${userLogin}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        });

        const result = await response.json();
        if (response.ok) {
          window.location.href = '/';
        }
      } catch (err) {
        alert("Ошибка при удалении аккаунта: "+err.message);
        console.error(err);
      }
    }
  </script>
  <% } %>